
{% extends 'base.html' %}

{% block title %}Brushka{% endblock %}

{% block style %}
    <style>
        p.clip{
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
        }
    .q{
        margin-left: 40px;
        margin-top: 10px;
}
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-md-center">
            {% for tag in tags %}
                <form method="post">
                {% csrf_token %}
                    <div class=".col-4 sm mr-1 mt-1">
                        <button class="btn btn-secondary">#{{ tag.tag }}</button>
                        <input type="hidden" name="tag" value="{{ tag.tag }}">
                    </div>
                </form>
            {% endfor %}
            </div>
    </div>
    <div class="container">
    <div class="row justify-content-md-center">
    {% for post in queryset %}
        <div class=".col-4 mt-4 sm q">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ post.link_TShirts }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ post.name_TShirts }}</h5>
                <p class="card-text clip">{{ post.description }}</p>
                <a href="/sales/{{ post.id }}" class="btn btn-primary">View</a>
            </div>
        </div>
</div>
    {% endfor %}

    </div>
    </div>
{% endblock %}