{% extends 'base.html' %}

{% block title %}Sales{% endblock %}

{% block style %}
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Almarai:700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'editor/css.css' %}" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.min.js"></script>
{% endblock %}

{% block content %}
<div class="container marginT50">
    <div class="row">
        <div class="col-sm">
          <img src="{{ tshirts.link_TShirts }}">
        </div>
        <div class="col-sm">
            <div class="container">
                <input type="hidden" id="id_ts" value="{{ tshirts.id }}">
                <h2 id="Tname">{{ tshirts.name_TShirts }}</h2>
                <p class="text">{{ tshirts.username }}</p>
                <p id="price">${{ tshirts.price }}</p>
                <p class="font700">Description</p>
                <p class="text">{{ tshirts.description }}</p>
                <hr id="line">
                <p class="font700">size</p>
                <div class="container">
                    <div class="row">
                        <div class=".col-3">
                            <button class="size">XS</button>
                        </div>
                        <div class=".col-3">
                            <button class="size">S</button>
                        </div>
                        <div class=".col-3">
                            <button class="size">M</button>
                        </div>
                        <div class=".col-3">
                            <button class="size">L</button>
                        </div>
                    </div>
                </div>
                <button id="add" class="font700">Add to Bag</button>
                <input type="hidden" id="link" value="{{ tshirts.link_TShirts }}">
                <a href="javascript:document.location.href=download()" class="btn btn-secondary">Download</a>
            </div>
        </div>
    </div>
</div>
    {% if user.is_authenticated %}
<div class="container">
<hr>
</div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container comment">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputComment">
                <div class="input-group-append">
                    <input type="submit" value="Add comment" id="comment">
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="col-sm-12 new_comment">
            {% for comment in comments %}
                <hr><small>{{ comment.id_user.username }}</small><p id="{{ comment.id }}">{{ comment.comment }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
    <script type="text/javascript">
    function download(){
        let link = document.getElementById('link').value;
        let array = link.split('/');
        array.splice(6, 0, 'fl_attachment');
        let name = array.pop();
        let array_name = name.split('.');
        array_name.pop();
        array_name.push('png');
        array.push(array_name.join('.'));
        return array.join('/')
    }

    $(document).ready(function () {
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
        var csrftoken = getCookie('csrftoken');
        $('#comment').on('click', function (e) {
            e.preventDefault();
            var id_ts = document.getElementById('id_ts').value;
            var inputComment = $('#inputComment').val();
            var id_user = document.getElementById('id_user').value;
            data = {
                id_ts: id_ts,
                inputComment: inputComment,
                id_user: id_user,
                csrfmiddlewaretoken: csrftoken
            };
            $.ajax({
                type: "POST",
                url: "{% url 'add_comment' %}",
                dataType: 'json',
                data: data,
                success: function (data) {
                    $.each(data, function (field) {
                        $('.new_comment').prepend('<hr><small>'+data[field]['username']+
                        '</small><p id="' + data[field]['id'] + '">'+data[field]['comment']+'</p>');
                        $('#inputComment').val('')
                    })

                }
            })
        });
        setInterval(function () {
            var id_ts = document.getElementById('id_ts').value;
            var inputComment = $('#inputComment').val();
            var id_user = document.getElementById('id_user').value;
            data = {
                id_ts: id_ts,
                inputComment: inputComment,
                id_user: id_user,
                csrfmiddlewaretoken: csrftoken
            };
        $.ajax({
            type: "GET",
            url: {% url 'search_comment' %},
            dataType: 'json',
            data: data,
            success: function (data) {
                $.each(data, function (field){
                    if (document.getElementById(data[field]['id'])){
                        return true;
                    }
                    else {
                        $('.new_comment').prepend('<hr><small>' + data[field]['username'] +
                            '</small><p id="' + data[field]['id'] + '">' + data[field]['comment'] + '</p>');
                    }
                })
            }
        })
    }, 3000);
    });
    </script>
{% endblock %}