{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block style %}
    <style>
        p.clip{
            white-space: nowrap;
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
        }
    .q{
        margin-left: 40px;
        margin-top: 10px;
}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">

    {% for post in queryset %}
        <form method="post">
        {% csrf_token %}
            <div class=".col-4 mt-4 sm q">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ post.link_TShirts }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.name_TShirts }}</h5>
                        <p class="card-text clip">{{ post.description }}</p>
                        <a href="/sales/{{ post.id }}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}

    </div>
    </div>
{% endblock %}